#app {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.hud {
  position: fixed;
  inset: 0;
}

.camera {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  height: clamp(300px, 90vh, 500px);
  width: clamp(300px, 90vh, 500px);
  display: grid;
  place-items: center;
  overflow: hidden;

  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
}

.wrapper > .bigbang {
  aspect-ratio: 1 / 1;
  max-width: 100vmin;
  max-height: 100vmin;
  display: grid;
  place-items: center;
  overflow: visible; /* important */
}

.orbit-scale {
  transform: scale(0.8);
  transform-origin: center;
}

.accent {
  --o-fill: var(--o-gray-darker);
}

.accent:hover {
  --o-fill: var(--o-cyan-darker);
}

.accent.active {
  --o-fill: var(--o-cyan);
}

/* Button icons */
.satellite {
  border: transparent;
  z-index: 1;
}

.satellite .capsule {
  color: var(--o-gray-darker);
  font-size: 0.8em;
}

.main-menu o-arc {
  --o-color: var(--o-gray-darker);
}

.cyan {
  --o-back-fill: var(--o-cyan-darker);
  --o-fill: var(--o-cyan);
}

.green {
  --o-back-fill: var(--o-green-darker);
  --o-fill: var(--o-green);
}

.red {
  --o-back-fill: var(--o-pink-darker);
  --o-fill: var(--o-pink);
}

.white {
  --o-back-fill: var(--o-gray-darker);
  --o-fill: white;
}
.vector.white {
  background-color: white;
}

.darker-gray {
  --o-back-fill: var(--o-gray-dark);
  --o-fill: var(--o-gray-darker);
}

.sensor {
  font-size: clamp(0.8rem, 1.5vw, 2rem);
}

.sensor > .satellite {
  border-color: transparent;
  font-size: 0.8em;
}

.sensor > .satellite.ldr {
  border: 5px solid var(--o-gray);
  color: var(--o-gray-lighter);
}
.sensor > .satellite.ldr.active {
  border: 5px solid white;
}

.sensor > .satellite .capsule {
  color: var(--o-gray-lighter);
}

.submenu-buttons {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.submenu-buttons .bi {
  font-size: 1em;
}

.labels {
  --o-fill: none;
}

.labels > o-arc {
  --o-fill: none;
  --o-color: white;
  font-size: 0.8em;
}

.dashed-big {
  opacity: 0.8;
  height: 6px;
}

.dashed-big.orange {
  background: var(--o-orange-dark);
}

.dashed-big.orange.active {
  background: var(--o-orange);
}

.dashed-big.green {
  background: var(--o-green-dark);
}

.dashed-big.green.active {
  background: var(--o-green);
}

.dashed-big.red {
  background: var(--o-red-dark);
}

.dashed-big.red.active {
  background: var(--o-red);
}

.branding {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  font-size: 0.75rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.5);

  pointer-events: none;
  user-select: none;
}
