<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rusty Robot Dashboard</title>
    <link rel="stylesheet" href="/static/pico.min.css" />
    <link rel="stylesheet" href="/static/orbit.min.css" />
    <link rel="stylesheet" href="/static/robot.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <main class="hud">
      <img class="camera" src="/camera/frame.mjpeg" alt="Robot camera" />

      <div id="app"></div>

      <div class="branding">Hello, Robot! © 2026</div>
    </main>

    <script src="/static/orbit.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "preact": "https://esm.sh/preact@10.23.1",
          "preact/": "https://esm.sh/preact@10.23.1/",
          "@preact/signals": "https://esm.sh/@preact/signals@1.3.0?external=preact",
          "htm/preact": "https://esm.sh/htm@3.1.1/preact?external=preact"
        }
      }
    </script>

    <script type="module">
      import { Fragment, render } from "preact";
      import { signal, computed } from "@preact/signals";
      import { useEffect, useRef, useLayoutEffect } from "preact/hooks";
      import { html } from "htm/preact";

      const API_BASE_URL = "http://raspberrypi.local:3000/api";
      const SUB_MENUS = {
        servo: {
          path: "servo",
          orbitButtonClass:
            "orbit-5 shrink-70 from-120 range-120 submenu-buttons",
          orbitAccentClass:
            "orbit-6 grow-1x from-120 range-120 submenu-accents",
          buttons: [
            ["servo.end", "bi-arrow-up-circle-fill", 120, 30],
            ["servo.start", "bi-arrow-down-circle-fill", 180, 30],
          ],
        },

        mode: {
          path: "mode",
          orbitButtonClass:
            "orbit-5 shrink-70 from-0 range-120 submenu-buttons",
          orbitAccentClass: "orbit-6 grow-1x from-0 range-120 submenu-accents",
          buttons: [
            ["mode.manual", "bi-person-fill-gear", 0, 30],
            ["mode.automatic", "bi-ev-front-fill", 60, 30],
          ],
        },

        motor: {
          path: "motor",
          orbitButtonClass:
            "orbit-5 shrink-70 from-240 range-120 submenu-buttons",
          orbitAccentClass:
            "orbit-6 grow-1x from-240 range-120 submenu-accents",
          buttons: [
            ["motor.backward", "bi-arrow-down-circle-fill", 240, 15],
            ["motor.left", "bi-arrow-left-circle-fill", 270, 15],
            ["motor.right", "bi-arrow-right-circle-fill", 300, 15],
            ["motor.forward", "bi-arrow-up-circle-fill", 330, 15],
          ],
        },
      };

      const robotMode = signal("manual");
      const mainMenuActive = signal(null);
      const subMenuActive = signal(null);
      const ultrasoundSensor = signal(null);
      const ldrSensor = signal(null);
      const ledPeripheral = signal(null);
      const servoPeripheral = signal(null);
      const commandHistory = signal([]);

      const cx = (obj) =>
        Object.entries(obj)
          .filter(([, v]) => v)
          .map(([k]) => k)
          .join(" ");

      function uuidv4() {
        return "10000000-1000-4000-8000-100000000000".replace(/[018]/g, (c) =>
          (
            +c ^
            (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (+c / 4)))
          ).toString(16),
        );
      }

      function App() {
        const wsRef = useRef(null);

        mainMenuActive.subscribe(() => (subMenuActive.value = null));

        useEffect(() => {
          if (wsRef.current) return; // Prevent double-connection

          requestAnimationFrame(() => {
            wsRef.current = new WebSocket("ws://raspberrypi.local:3000/ws");

            wsRef.current.onopen = () => {
              console.log("WebSocket opened");
            };

            wsRef.current.onmessage = (event) => {
              const msg = JSON.parse(event.data);

              if (msg.Ultrasound) {
                ultrasoundSensor.value = msg.Ultrasound.distance.toFixed(1);
              }

              if (msg.Ldr) {
                ldrSensor.value = msg.Ldr;
              }

              if (msg.Led) {
                ledPeripheral.value = msg.Led;
              }

              if (msg.Servo) {
                servoPeripheral.value = msg.Servo;
              }
            };

            wsRef.current.onerror = (err) => {
              console.error("Websocket error", err);
            };

            wsRef.current.onclose = () => {
              console.log("WebSocket closed");
              wsRef.current = null;
            };
          });

          return () => wsRef.current?.close();
        }, []);

        useLayoutEffect(() => {
          const resize = () => Orbit.resize(".wrapper");

          requestAnimationFrame(() => {
            requestAnimationFrame(resize);
          });

          window.addEventListener("resize", resize);

          return () => {
            window.removeEventListener("resize", resize);
          };
        }, []);

        const processResult = (actionName, result, tops) => {
          if (["mode.manual", "mode.automatic"].includes(actionName)) {
            robotMode.value = result.mode;
          }
        };

        const updateCommandHistory = (id, actionName, status) => {
          const idx = commandHistory.value.findIndex((v) => v.id === id);

          commandHistory.value =
            idx > -1
              ? commandHistory.value.map((v, i) =>
                  i === idx ? { ...v, status } : v,
                )
              : commandHistory.value
                  .concat({ id, actionName, status })
                  .slice(-20);
        };

        const submit = async (url, actionName, opts = {}) => {
          const method = "post";
          const body = JSON.stringify({ action: actionName, ...opts });
          const headers = new Headers();
          headers.append("Content-Type", "application/json");

          try {
            const id = uuidv4();
            updateCommandHistory(id, actionName, "pending");

            const response = await fetch(url, {
              method,
              headers,
              body,
            });

            if (!response.ok) {
              updateCommandHistory(id, actionName, "error");
              console.error("Error processing request", response.status);
              return;
            }

            const result = await response.json();
            processResult(actionName, result, opts);
            updateCommandHistory(id, actionName, "success");
          } catch (error) {
            console.error("Error making request", error);
            updateCommandHistory(id, actionName, "error");
          }
        };

        const handleClick = async (url, actionName, opts = {}) => {
          subMenuActive.value = actionName;
          await submit(url, actionName, opts);
        };

        const handleMouseUp = async (url, actionName, opts = {}) => {
          if (
            [
              "motor.forward",
              "motor.backward",
              "motor.left",
              "motor.right",
            ].includes(actionName)
          ) {
            await submit(url, "motor.stop", opts);
          }
        };

        return html`
          <div>
            <div id="main-menu" class="wrapper">
              <div class="bigbang x-dev-orbit">
                <div class="orbit-scale">
                  <div
                    class="gravity-spot menu-example"
                    style="--o-force: 600px"
                  >
                    <${MenuTitle} />
                    <${MainMenu} />
                    <${SubMenu}
                      onClick=${handleClick}
                      onMouseUp=${handleMouseUp}
                    />
                    <${MenuCowl} />
                    <${LedGauges} />
                    <${LdrGauges} />
                    <${ServoGauges} />
                    <${UltrasoundGauge} />
                  </div>
                </div>
              </div>
            </div>
            <${CommandHistory} />
          </div>
        `;
      }

      function MenuTitle() {
        const mode = robotMode.value;

        return html`
          <div class="orbit-0">
            <div class="capsule at-center">${mode}</div>
          </div>
        `;
      }

      function MainMenuButton({ name }) {
        const handleClick = () => (mainMenuActive.value = name.toLowerCase());

        return html`<o-arc
          class="grow-1x button control-size"
          onClick=${handleClick}
        ></o-arc>`;
      }

      function MainMenuButtons() {
        return html`
          <div class="orbit-3 main-menu">
            ${["leds", "servo", "motor"].map(
              (name) =>
                html`<${MainMenuButton}
                  name=${name}
                  key=${`main-menu-button-${name}`}
                />`,
            )}
          </div>
        `;
      }

      function MainMenuLabel({ name }) {
        const handleClick = () => (mainMenuActive.value = name.toLowerCase());

        return html`
          <o-arc class="flip" onClick=${handleClick}> ${name} </o-arc>
        `;
      }

      function MainMenuLabels({ action }) {
        return html`
          <div class="orbit-3 main-menu">
            ${["Mode", "Servo", "Motor"].map(
              (name) =>
                html`<${MainMenuLabel}
                  action=${action}
                  name=${name}
                  key=${`main-menu-label-${name}`}
                />`,
            )}
          </div>
        `;
      }

      function MainMenuAccent({ name }) {
        return html`<o-arc
          class=${cx({
            "accent shrink-65 inner-orbit": true,
            active: mainMenuActive.value === name,
          })}
        ></o-arc>`;
      }

      function MainMenuAccents({ active }) {
        return html`
          <div class="orbit-4">
            ${["leds", "servo", "motor"].map(
              (name) =>
                html`<${MainMenuAccent}
                  active=${active}
                  name=${name}
                  key=${`main-menu-accent-${name}`}
                />`,
            )}
          </div>
        `;
      }

      function MainMenu({ active }) {
        return html`
          <${MainMenuButtons} />
          <${MainMenuAccents} />
          <${MainMenuLabels} />
        `;
      }

      function SubMenu({ onClick, onMouseUp }) {
        if (!mainMenuActive.value) return html`<${Fragment} />`;

        return html`
          <${SubMenuBuilder}
            name=${mainMenuActive.value}
            config=${SUB_MENUS[mainMenuActive.value]}
            onClick=${onClick}
            onMouseUp=${onMouseUp}
            active=${subMenuActive.value}
          />
        `;
      }

      function SubMenuBuilder({ name, config, onClick, onMouseUp, active }) {
        const url = `${API_BASE_URL}/${config.path}`;

        return html`
          <div class=${`${config.orbitButtonClass}`}>
            ${config.buttons.map(
              ([name, icon, angle, offset]) =>
                html` <${OrbitActionButton}
                  name=${name}
                  icon=${icon}
                  angle=${angle}
                  labelAngle=${angle + offset}
                  onClick=${onClick}
                  onMouseUp=${onMouseUp}
                  url=${url}
                  key=${`orbit-action-button-${name}`}
                />`,
            )}
          </div>

          <div class=${`${config.orbitAccentClass}`}>
            ${config.buttons.map(
              ([name, icon, angle]) =>
                html` <${OrbitActionAccent}
                  active=${active}
                  name=${name}
                  angle=${angle}
                  key=${`orbit-action-accent-${name}`}
                />`,
            )}
          </div>
        `;
      }

      function OrbitActionButton({
        name,
        icon,
        angle,
        labelAngle,
        active,
        url,
        onClick,
        onMouseUp,
      }) {
        const handleMouseDown = () => onClick(url, name);
        const handleMouseUp = () => onMouseUp(url, name);

        return html`
          <!-- Button -->
          <o-arc
            class=${cx({
              "outer-orbit": true,
              "grow-1x": true,
              [`angle-${angle}`]: true,
            })}
            onMouseDown=${handleMouseDown}
            onMouseUp=${handleMouseUp}
          ></o-arc>

          <!-- Button Label (Icon) -->
          <div
            class=${cx({
              satellite: true,
              "outer-orbit": true,
              "grow-1x": true,
              [`angle-${labelAngle}`]: true,
            })}
            onMouseDown=${handleMouseDown}
            onMouseUp=${handleMouseUp}
          >
            <div class="capsule">
              <i class=${`bi ${icon}`}></i>
            </div>
          </div>
        `;
      }

      function OrbitActionAccent({ angle, active, name }) {
        return html`
          <o-arc
            class=${cx({
              "shrink-80": true,
              [`angle-${angle}`]: true,
              accent: true,
              active: active === name,
            })}
          ></o-arc>
        `;
      }

      function MenuCowl() {
        return html`
          <!-- Outer ring 1 -->
          <div class="orbit-7 shrink-50" style="z-index: -1;">
            <o-arc class="shrink-90 angle-0 inner-orbit white"></o-arc>
          </div>

          <!-- Outer ring 2 -->
          <div class="orbit-8 shrink-50" style="z-index: -1;">
            <o-arc class="shrink-90 angle-0 inner-orbit white"></o-arc>
          </div>

          <!-- Outer ring 3 -->
          <div class="orbit-9 shrink-50" style="z-index: -1;">
            <o-arc class="shrink-90 angle-0 inner-orbit white"></o-arc>
          </div>

          <!-- Vectors -->
          <div class="orbit-7">
            <div class="vector angle-0 white"></div>
            <div class="vector angle-120 white"></div>
            <div class="vector angle-210 white"></div>
            <div class="vector angle-240 white"></div>
          </div>

          <div class="orbit-8 from-0 range-240 fit-range">
            <div class="vector white"></div>
            <div class="vector white"></div>
            <div class="vector white"></div>
            <div class="vector white"></div>
            <div class="vector white"></div>
            <div class="vector white"></div>
            <div class="vector white"></div>
            <div class="vector white"></div>
            <div class="vector white"></div>
          </div>

          <!-- Readings sub labels -->
          <div class="orbit-8 from-0 range-240 fit-range shrink-20 labels">
            <o-arc text-anchor="middle" class="grow-1x">red</o-arc>
            <o-arc text-anchor="middle" class="grow-1x">green</o-arc>
            <o-arc text-anchor="middle" class="grow-1x">blue</o-arc>
            <o-arc text-anchor="middle" class="grow-1x">brightness</o-arc>
            <o-arc text-anchor="middle" class="grow-1x">right</o-arc>
            <o-arc text-anchor="middle" class="grow-1x">middle</o-arc>
            <o-arc text-anchor="middle" class="grow-1x">left</o-arc>
            <o-arc text-anchor="middle" class="grow-1x">angle %</o-arc>
            <o-arc text-anchor="middle" class="grow-1x angle-280">
              100+ → 0 cm</o-arc
            >
          </div>

          <!-- Readings main labels -->
          <div class="orbit-7 shrink-20 labels">
            <o-arc text-anchor="middle" class="grow-1x angle-15"
              >Neopixel lights</o-arc
            >
            <o-arc text-anchor="middle" class="grow-1x angle-120"
              >Light dependent resistors</o-arc
            >
            <o-arc text-anchor="middle" class="grow-1x angle-180">Servo</o-arc>
            <o-arc text-anchor="middle" class="grow-1x angle-250"
              >Ultrasound distance</o-arc
            >
          </div>
        `;
      }

      function UltrasoundGauge() {
        const SEGMENTS = 18;

        function mapRange(value, inMin, inMax, outMin, outMax) {
          const t = (value - inMin) / (inMax - inMin);
          const tClamped = Math.max(0, Math.min(1, t));
          return outMin + tClamped * (outMax - outMin);
        }

        const filledCount = Math.round(
          mapRange(ultrasoundSensor.value, 0, 100, 0, SEGMENTS - 1),
        );

        return html`
          <div class="orbit-10 from-244 range-120 big-dash">
            ${Array.from({ length: SEGMENTS }).map((_, i) => {
              const visualIndex = SEGMENTS - 1 - i;
              const isActive = visualIndex > filledCount;

              let color = "green";
              if (i > 8 && i <= 13) color = "orange";
              if (i > 13) color = "red";

              const klass = `
                        vector
            dashed-big
                        ${color}
                        ${isActive ? "active grow-0.2x" : "shrink-40"}
                      `;

              return html`
                <div
                  key=${`ultrasound-sensor-gauge-vector-${i}`}
                  class=${klass}
                ></div>
              `;
            })}
          </div>
        `;
      }

      function LdrGauges() {
        const { l_val, m_val, r_val } = ldrSensor.value || {};

        return html`
          <div class="orbit-10 sensor">
            <div
              class=${`satellite angle-135 ldr ${r_val === 1 ? "active" : ""} grow-1x`}
            >
              R
            </div>
            <div
              class=${`satellite angle-165 ldr ${m_val === 1 ? "active" : ""} grow-1x`}
            >
              M
            </div>
            <div
              class=${`satellite angle-195 ldr ${l_val === 1 ? "active" : ""} grow-1x`}
            >
              L
            </div>
          </div>
        `;
      }

      function ServoGauges() {
        const angle = servoPeripheral.value?.angle || 0;

        return html`
          <div class="orbit-10 sensor">
            <div class="satellite angle-225">
              <div class="gravity-spot">
                <div class="orbit-0">
                  <div class="satellite">
                    <div class="capsule">${angle}</div>
                  </div>
                </div>
                <div class="orbit-2 shrink-90">
                  <o-progress
                    class="shrink-50 angle-0 white"
                    value=${angle}
                    max="180"
                    shape="circle"
                  ></o-progress>
                </div>
              </div>
            </div>
          </div>
        `;
      }

      function LedGauges() {
        const { red, green, blue, brightness } = ledPeripheral.value || {};

        return html`
          <div class="orbit-10 sensor from-15 range-120">
            <div class="satellite">
              <div class="gravity-spot">
                <div class="orbit-0">
                  <div class="satellite">
                    <div class="capsule">${red || 0}</div>
                  </div>
                </div>
                <div class="orbit-2 shrink-90">
                  <o-progress
                    class="shrink-50 angle-0 red"
                    value=${red || 0}
                    max="255"
                    shape="circle"
                  ></o-progress>
                </div>
              </div>
            </div>
            <div class="satellite">
              <div class="gravity-spot">
                <div class="orbit-0">
                  <div class="satellite">
                    <div class="capsule">${green || 0}</div>
                  </div>
                </div>
                <div class="orbit-2 shrink-90">
                  <o-progress
                    class="shrink-50 angle-0 green"
                    value=${green || 0}
                    max="255"
                    shape="circle"
                  ></o-progress>
                </div>
              </div>
            </div>
            <div class="satellite">
              <div class="gravity-spot">
                <div class="orbit-0">
                  <div class="satellite">
                    <div class="capsule">${blue || 0}</div>
                  </div>
                </div>
                <div class="orbit-2 shrink-90">
                  <o-progress
                    class="shrink-50 angle-0 cyan"
                    value=${blue || 0}
                    max="255"
                    shape="circle"
                  ></o-progress>
                </div>
              </div>
            </div>
            <div class="satellite">
              <div class="gravity-spot">
                <div class="orbit-0">
                  <div class="satellite">
                    <div class="capsule">${brightness || 0}</div>
                  </div>
                </div>
                <div class="orbit-2 shrink-90">
                  <o-progress
                    class="shrink-50 angle-0 white"
                    value=${brightness || 0}
                    max="255"
                    shape="circle"
                  ></o-progress>
                </div>
              </div>
            </div>
          </div>
        `;
      }

      function CommandHistory() {
        return html` <div class="command-history">
          <div class="heading">command history</div>
          <ul>
            ${commandHistory.value
              .map((val) => html`<li>${val.actionName} ${val.status}</li>`)
              .reverse()}
          </ul>
        </div>`;
      }

      render(html`<${App} />`, document.getElementById("app"));
    </script>
  </body>
</html>
